
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_tailscale=m

CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=m
CONFIG_PACKAGE_luci-app-dcwapd=m
CONFIG_PACKAGE_luci-i18n-dcwapd-zh-cn=m
CONFIG_PACKAGE_luci-app-cpufreq=m

CONFIG_PACKAGE_luci-app-nft-qos=m
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=m
CONFIG_PACKAGE_luci-app-polipo=m
CONFIG_PACKAGE_luci-i18n-polipo-zh-cn=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=m
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=m
CONFIG_PACKAGE_luci-app-statistics=m

CONFIG_PACKAGE_luci-app-softether=m

CONFIG_PACKAGE_luci-app-tinyproxy=m
CONFIG_PACKAGE_luci-i18n-tinyproxy-zh-cn=m
CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=m
