CONFIG_HTOP_LMSENSORS=y
CONFIG_PACKAGE_netdata=m
CONFIG_PACKAGE_libiwinfo-data=m
CONFIG_PACKAGE_ipq-wifi-arcadyan_aw1000=m
CONFIG_PACKAGE_ipq-wifi-buffalo_wxr-5950ax12=m
CONFIG_PACKAGE_ipq-wifi-dynalink_dl-wrx36=m
CONFIG_PACKAGE_ipq-wifi-linksys_mx4200=m
CONFIG_PACKAGE_ipq-wifi-netgear_rax120v2=m
CONFIG_PACKAGE_ipq-wifi-netgear_sxk80=m
CONFIG_PACKAGE_ipq-wifi-qnap_301w=m
CONFIG_PACKAGE_ipq-wifi-redmi_ax6=m
CONFIG_PACKAGE_ipq-wifi-xiaomi_ax3600=m
CONFIG_PACKAGE_ipq-wifi-xiaomi_ax9000=m
CONFIG_PACKAGE_ipq-wifi-zyxel_nbg7815=m
CONFIG_PACKAGE_ath10k-board-qca9887=m
CONFIG_PACKAGE_ath10k-firmware-qca9887=m
CONFIG_PACKAGE_ath11k-firmware-ipq8074=y
CONFIG_PACKAGE_ath11k-firmware-qcn9074=m
CONFIG_PACKAGE_nss-firmware-default=y


CONFIG_PACKAGE_nss-firmware-ipq8074=y
CONFIG_PACKAGE_wireless-regdb=y

CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_dropbear=y
CONFIG_DROPBEAR_CURVE25519=y
CONFIG_DROPBEAR_ED25519=y
CONFIG_DROPBEAR_CHACHA20POLY1305=y
CONFIG_DROPBEAR_U2F=y
CONFIG_DROPBEAR_ED25519_SK=y
CONFIG_DROPBEAR_DBCLIENT=y
CONFIG_DROPBEAR_DBCLIENT_AGENTFORWARD=y
CONFIG_DROPBEAR_SCP=y
CONFIG_DROPBEAR_AGENTFORWARD=y
CONFIG_PACKAGE_firewall4=y

CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp936=y
CONFIG_PACKAGE_kmod-nls-utf8=y


CONFIG_PACKAGE_kmod-nf-conncount=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-conntrack6=y
CONFIG_PACKAGE_kmod-nf-dup-inet=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-ipt=m
CONFIG_PACKAGE_kmod-nf-ipt6=m
CONFIG_PACKAGE_kmod-nf-log=y

CONFIG_PACKAGE_kmod-nf-log6=y
CONFIG_PACKAGE_kmod-nf-nat=y
CONFIG_PACKAGE_kmod-nf-nat6=m

CONFIG_PACKAGE_kmod-nf-nathelper=m
CONFIG_PACKAGE_kmod-nf-nathelper-extra=m
CONFIG_PACKAGE_kmod-nf-reject=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nfnetlink-log=m
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-nft-arp=m
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-compat=m
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-dup-inet=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-xfrm=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-nss-ifb=m


CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-eogremgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-gre=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=y
CONFIG_PACKAGE_kmod-qca-nss-drv-match=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-mirror is not set
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-vxlanmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-macsec is not set
CONFIG_PACKAGE_kmod-qca-ssdk=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
